USE [OlistECommerceDW]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 6/11/2026 8:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerID] [nvarchar](50) NOT NULL,
	[CustomerUniqueID] [nvarchar](50) NULL,
	[CustomerZipCodePrefix] [int] NULL,
	[CustomerCity] [nvarchar](100) NULL,
	[CustomerState] [nvarchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 6/11/2026 8:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Year] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[QuarterName] [varchar](10) NULL,
	[Month] [int] NOT NULL,
	[MonthName] [varchar](20) NULL,
	[Day] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimOrder]    Script Date: 6/11/2026 8:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimOrder](
	[OrderID] [nvarchar](50) NOT NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[OrderPurchaseTimestamp] [datetime] NULL,
	[OrderApprovedAt] [datetime] NULL,
	[OrderDeliveredCarrierDate] [datetime] NULL,
	[OrderDeliveredCustomerDate] [datetime] NULL,
	[OrderEstimatedDeliveryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPayment]    Script Date: 6/11/2026 8:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPayment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [nvarchar](50) NULL,
	[PaymentSequential] [int] NULL,
	[PaymentType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 6/11/2026 8:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductID] [nvarchar](50) NOT NULL,
	[ProductCategoryNameEnglish] [nvarchar](100) NULL,
	[ProductNameLength] [float] NULL,
	[ProductDescriptionLength] [float] NULL,
	[ProductPhotosQty] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSeller]    Script Date: 6/11/2026 8:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSeller](
	[SellerID] [nvarchar](50) NOT NULL,
	[SellerZipCodePrefix] [int] NULL,
	[SellerCity] [nvarchar](100) NULL,
	[SellerState] [nvarchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactOrderItems]    Script Date: 6/11/2026 8:01:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOrderItems](
	[FactOrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [nvarchar](50) NOT NULL,
	[CustomerID] [nvarchar](50) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[SellerID] [nvarchar](50) NOT NULL,
	[PaymentID] [int] NOT NULL,
	[DateID] [int] NOT NULL,
	[OrderItemID] [int] NULL,
	[Price] [float] NULL,
	[FreightValue] [float] NULL,
	[PaymentValue] [float] NULL,
	[PaymentInstallments] [int] NULL,
	[ProductWeightG] [float] NULL,
	[ProductLengthCm] [float] NULL,
	[ProductHeightCm] [float] NULL,
	[ProductWidthCm] [float] NULL,
	[DeliveryDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactOrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactOrderItems]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[DimCustomer] ([CustomerID])
GO
ALTER TABLE [dbo].[FactOrderItems]  WITH CHECK ADD FOREIGN KEY([DateID])
REFERENCES [dbo].[DimDate] ([DateID])
GO
ALTER TABLE [dbo].[FactOrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[DimOrder] ([OrderID])
GO
ALTER TABLE [dbo].[FactOrderItems]  WITH CHECK ADD FOREIGN KEY([PaymentID])
REFERENCES [dbo].[DimPayment] ([PaymentID])
GO
ALTER TABLE [dbo].[FactOrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[DimProduct] ([ProductID])
GO
ALTER TABLE [dbo].[FactOrderItems]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[DimSeller] ([SellerID])
GO
